:root {
    --primary: rgb(131, 70, 70);
    --secondary: rgb(70, 70, 70);
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.seconds {
    margin: 0 5px;
}

#the-time{
    font-size: 30px;
  }

body {
    width: 100%;
    height: 100%;
}

.quiz-form {
    height: 400px;
    width: 50%;
    margin: 200px auto 0px auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    margin: 0px;
}

#btc {
    display: flex;
    margin: 10px auto 0px auto;
    font-size: 25px;
    background-color: var(--primary);
    border: solid 2px var(--secondary);
    border-radius: 10px;
}

#bts {
    margin: 1px;
    font-size: 25px;
    background-color: var(--primary);
    border: solid 2px var(--secondary);
    border-radius: 10px;
}

.result {
    border-top: solid 1px black;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
}

.saveScore {
   font-size: 24px;
   border: solid black 2px;
   border-radius: 10px;
}

.scoreForm {
    margin: 0 auto;
}